.posts {
    display: flex;
    flex-direction: column;
}

.posts .post {
    display: flex;
    flex-direction: column;
}

.posts .posts__error {
    align-self: center;
    color: #ee3333;
    font-family: 'Fredoka-Semibold', sans-serif;
    font-size: 25px;
    text-decoration: none;
}

.post .post__title {
    font-family: 'Fredoka-Semibold', sans-serif;
    font-size: 25px;
    text-decoration: none;
    padding: 20px 0 20px 0;
}

.post .post__body {
    font-family: 'Fredoka-Regular', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.hidden {
    display: none;
}